<!DOCTYPE html>
<html>
  <head>
    <title>RorSimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/flash" %>
    <%= render "layouts/navbar" %>
    <%= render "layouts/header" %>
    <%= yield %>
    <hr>
    <%= render "layouts/footer" %>
  </body>
</html>
