<!DOCTYPE html>
<html>
  <head>
    <title>Ror simple blog - Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'dashboard/application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'dashboard/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/dashboard_navbar" %>
    <div id="layoutSidenav">
      <%= render "layouts/dashboard_sidenav" %>
      <div id="layoutSidenav_content">
        <main>
          <%= render "dashboard/shared/flash" %>
          <%= yield %>
        </main>
        <%= render "layouts/dashboard_footer" %>
      </div>
    </div>
  </body>
</html>
